.header {
    background: var(--gray-700);
    display: flex;
    justify-content: center;
    padding: 4.25rem 0;
}

/* Calculo do rem */
/* 1rem == 16px */
/* 0.25rem == 4px */

.header img {
    height: 3.25rem;
}